@font-face {
    font-family: 'locale';
    src:    url('/fonts/locale.eot?n54gim');
    src:    url('/fonts/locale.eot?n54gim#iefix') format('embedded-opentype'),
    url('/fonts/locale.ttf?n54gim') format('truetype'),
    url('/fonts/locale.woff?n54gim') format('woff'),
    url('/fonts/locale.svg?n54gim#locale') format('svg');
    font-weight: normal;
    font-style: normal;
}
