@font-face {
    font-family: 'locale';
    src:    url('fonts/locale.eot?4e7pkj');
    src:    url('fonts/locale.eot?4e7pkj#iefix') format('embedded-opentype'),
    url('fonts/locale.ttf?4e7pkj') format('truetype'),
    url('fonts/locale.woff?4e7pkj') format('woff'),
    url('fonts/locale.svg?4e7pkj#locale') format('svg');
    font-weight: normal;
    font-style: normal;
}
