.main-nav {
  @include flex-box($align: center, $wrap: wrap, $direction: row, $justify: center);
  @media only screen and (min-width: $break){
    @include flex-box($align: center, $wrap: wrap, $direction: row, $justify: flex-end);
  }

  .nav-link {
    a {
      font-family: font-family('primary', 'medium');
      font-size: em(14);
      text-transform: uppercase;
      color: color('primary', 'base');
      margin: 0 .5em;
      @media only screen and (min-width: $break){
        font-size: em(16);
        margin: 0 1em;
      }

      &:hover {
        color: color('secondary', 'base');
      }
    }
  }
}
