.site-title {
  text-decoration: none;
  text-transform: uppercase;
  font-family: font-family('primary', 'medium');
  font-size: em(28);
  color: color('secondary', 'base');

  &:hover {
    color: color('secondary', 'base');
  }
}
