%icon-base {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'locale' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$icons:
(beer '\e900')
(history '\e9ae')
(search '\eb30');

@each $icon in $icons {
  .icon-#{nth($icon, 1)} {
    @extend %icon-base;
    color: color('primary', 'base');
    font-size: em(90);
    &:before {
      content: nth($icon, 2);
    }
  }
}
