/** {
  border: 1px dashed;
}*/

.main {
  width: 100%;
  background-image: url(/images/home_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.headWrap {
  position: absolute;
  height: 60px;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
}

.pageTitle {
  position: relative;
  float:left;
  max-width: 30%;
  font-size: 1.5em;
  color: white;
}

.nav {
  position: relative;
  float: right;
  text-align: right;
  padding-right: 3.0em;
  width: 60%;
}

#navLink {
  display: inline-block;
  color: white;
  padding: 1% 2% 1% 2%;
}

.contWrap {
  position: relative;
  display: block;
  padding-top: 8%;
  padding-bottom: 5%;
}

.content {
  position: relative;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.historyBeer {
  width: 25%;
  height: 400px;
  background-color: rgba(155, 155, 155, 0.8);
  display: flex;
  position: relative;
  align-self: auto;
  margin: 2%;
}

.randomBeer {
  width: 25%;
  height: 400px;
  display: flex;
  position: relative;
  align-self: center;
  background-color: rgba(155, 155, 155, 0.8);
  margin: 2%;
}

.searchBeer {
  width: 25%;
  height: 400px;
  display: flex;
  position: relative;
  align-self: auto;
  background-color: rgba(155, 155, 155, 0.8);
  margin: 2%;
}

.footer {
  text-align: center;
  padding: 1.5%;
  margin: 0 auto;
  width: 100%;
  position: relative;
  background-color: white;
}

/* AGE VERIFICATION */

.hide {
  visibility: hidden;
}

#ageVer {
/*  content: "";*/
  display: block;
  position: absolute;
  width:100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  margin: 0 auto;
  z-index: 1001;
  top: 0%;
  left: 0%;
}

.ofAge {
  color: white;

}
