@charset "UTF-8";
.icon-beer, .icon-history, .icon-search {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'locale' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-beer {
  color: #ffffff;
  font-size: 5.625em;
}

.icon-beer:before {
  content: ;
}

.icon-beer:hover {
  color: #F0A800;
}

.icon-history {
  color: #ffffff;
  font-size: 5.625em;
}

.icon-history:before {
  content: ;
}

.icon-history:hover {
  color: #F0A800;
}

.icon-search {
  color: #ffffff;
  font-size: 5.625em;
}

.icon-search:before {
  content: ;
}

.icon-search:hover {
  color: #F0A800;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 auto;
}

ul {
  padding: 0;
  margin: 0;
}

li, a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, p, figure, blockquote {
  margin: 0;
}

img {
  display: inline-block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

.btn-large {
  font-family: 'Raleway', sans-serif;
  border: 2px solid white;
  padding: 1em 0;
  text-align: center;
}

.btn-large {
  background-color: white;
  font-size: 1.375em;
  font-weight: 600;
  width: 10em;
}

.btn-large:hover {
  background-color: transparent;
}

.site-title {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6em;
  color: #F0A800;
}

.site-title:hover {
  color: #F0A800;
}

.main-nav {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  box-orient: horizontal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end;
}

.main-nav .nav-link a {
  text-align: right;
  margin: 0 2em;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
}

.main-nav .nav-link a:hover {
  color: #F0A800;
}

.header {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  box-orient: horizontal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  margin: 1em;
}

.header .site-title {
  -webkit-flex-basis: 20%;
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
}

.header nav {
  -webkit-flex-basis: 78%;
  -ms-flex-preferred-size: 78%;
  flex-basis: 78%;
}

.selection-grid {
  position: relative;
  padding: 5em;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  box-align: space-around;
  -webkit-align-items: space-around;
  -moz-align-items: space-around;
  -ms-align-items: space-around;
  -o-align-items: space-around;
  align-items: space-around;
  -ms-flex-align: space-around;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  box-orient: horizontal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

.selection-grid h2 {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  text-align: left;
  -webkit-flex-basis: 90%;
  -ms-flex-preferred-size: 90%;
  flex-basis: 90%;
}

.selection-grid .btn-large {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  margin: .5em 1em;
}

/*# sourceMappingURL=main.css.map */
