.card-primary {
  padding: 2em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 1.5em auto;

  a {
    color: color('primary', 'base');

    &:hover {
      color: color('secondary', 'base');

      span {
        color: color('secondary', 'base');
      }
    }

    h2 {
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
      text-transform: uppercase;
      margin: 1em 0;
    }

    p {
      font-family: 'Raleway', sans-serif;
      margin: 1em 0;
    }
  }
}
