.beer-grid {
  font-family: font-family('primary', 'regular');
  color: color('primary', 'base');
  width: 100%;
  overflow-x: scroll;
  min-height: em(300);
  @media only screen and (min-width: $break){
    overflow: scroll;
    height: em(400);
  }

  .beer-grid-table {
    width: 100%;
    @media only screen and (min-width: $break){

    }

    th {
      font-family: font-family('primary', 'medium');
      font-size: em(18);
      padding: 0 .5em .5em;
      border-bottom: 1px solid #F0A800;
      text-align: left;
    }

    tr {
      td {
        padding: .75em .5em;
        &:last-child {
          padding: .75em .65em;
        }
      }
    }

    .beer-list-item {
      &:hover {
        background-color: color('secondary', 'base');
      }
    }
  }
}
